{% extends "layout.html" %}

{% block title %}Publishbot{% endblock %}

{% block breadcrumbs %}
    <li>
      <a href="/">Publishbot</a>
    </li>
    <li>
      Add adapter
    </li>
{% endblock %}


{% block body %}

  {% if errors %}
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There was a problem submitting the data
    </h1>

    <p>
      Please correct the errors below
    </p>

    <ul class="error-summary-list">
      {% for k, v in errors %}
      <li><a href="#id_{{k}}">{{v}}</a></li>
      {% endfor %}
    </ul>

  </div>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      Add a directory adapter
      </h1>
    </div>
  </div>

  <form action="" class="form" method="post">
    <fieldset>
      <div
          class='form-group {% if "title" in errors %}error{% endif %}'
          id="title_form_group">
        <label
            class="form-label-bold"
            for="id_title">
          Title
        </label>

        <span class="form-hint">
            Titles should clearly describe the adapter
        </span>
        {% if "title" in errors %}
            <span class="error-message" id="error-message-full-name">{{ errors.title }}</span>
        {% endif %}
        <input
            class="form-control form-control-2-3"
            id="id_title"
            name="title"
            type="text"
            value="{{ data.title }}"/>
      </div>
    </fieldset>
    <fieldset>
      <div
          class='form-group {% if "dataset" in errors %}error{% endif %}'
          id="dataset_form_group">
        <label
            class="form-label-bold"
            for="id_dataset">
          Dataset name
        </label>

        <span class="form-hint">
            This is the short name of the dataset on data.gov.uk
        </span>
        {% if "dataset" in errors %}
            <span class="error-message" id="error-message-full-name">{{ errors.title }}</span>
        {% endif %}
        <input
            class="form-control form-control-2-3"
            id="id_dataset"
            name="dataset"
            type="text"
            value="{{ data.dataset }}"/>
      </div>
    </fieldset>
<fieldset>
      <div
          class='form-group {% if "folder" in errors %}error{% endif %}'
          id="folder_form_group">
        <label
            class="form-label-bold"
            for="id_folder">
          Folder
        </label>

        <span class="form-hint">
            Which folder should be watched for new data files
        </span>
        {% if "folder" in errors %}
          <span class="error-message" id="error-message-full-name">{{ errors.title }}</span>
        {% endif %}
        <input
            class="form-control form-control-2-3"
            id="id_folder"
            name="folder"
            type="text"
            value="{{ data.folder }}"/>
      </div>
    </fieldset>

    <button type="submit" class="button">Save</button>
  </form>

{% endblock %}
