{% extends "layout.html" %}

{% block title %}Publishbot{% endblock%}

{% block breadcrumbs %}
    <li><a href="/">Publishbot</a></li>
{% endblock %}

{% block body %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      Publishbot
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <p class="lede column-two-thirds">
      Automatic publishing of data and datasets to data.gov.uk
    </p>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium">
        Pending review ({{adapters|length}})
      </h2>
      <ul>
        {% for adapter in adapters %}
        <li>
          <h3 class="heading-small">{{ adapter.Title }}</h3>
          <p>{{ adapter.Description }}</p>
          <a class="button" href="/preview/{{ adapter.Name }}">Preview and publish</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column-one-half">
    &nbsp;
    </div>
  </div>

{% endblock %}
