{% extends "layout.html" %}

{% block title %}Publishbot{% endblock%}

{% block breadcrumbs %}
    <li><a href="/">Publishbot</a></li>
{% endblock %}

{% block body %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      Publishbot
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <p class="lede column-two-thirds">
      Automatic publishing of data and datasets to data.gov.uk
    </p>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium">
        Pending review (1)
      </h2>
      <ul>
        <li>
          Spend over £25,000<br/>
          <a class="button" href="/preview">Preview and publish</a>
        </li>
      </ul>
    </div>
    <div class="column-one-half">
      <h2 class="heading-medium">
        Adapters (3)
      </h2>
      <div>
        <ul>
          <li>
            Spend over £25,000 - <a href="">Edit</a>
          </li>
          <li>
            Organogram - <a href="">Edit</a>
          </li>
          <li>
            Planning applications - <a href="">Edit</a>
          </li>
        </ul>

        <br/>
        <a class="button" href="/add">Add a new adapter</a>
      </div>
    </div>
  </div>

{% endblock %}
