

{{define "title"}}Publishbot{{end}}

{{define "breadcrumbs"}}
    <li><a href="/">Publishbot</a></li>
{{end}}

{{define "body"}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      Publishbot
      </h1>
    </div>
  </div>


  <div class="grid-row">

    <div class="column-one-third">
        <div class="data">
            <span class="data-item bold-xxlarge"><a href="/status" style="text-decoration:none;">3</a></span>
            <span class="data-item bold-xsmall">Automated datasets</span>
        </div>
    </div>

    <div class="column-one-third">
        <div class="data">
            <span class="data-item bold-xxlarge"><a href="/preview" style="text-decoration:none;">1</a></span>
            <span class="data-item bold-xsmall">Awaiting permission</span>
        </div>
    </div>
  </div>


{{end}}
