{% extends "layout.html" %}

{% block title %}Current Status{% endblock %}

{% block breadcrumbs%}
    <li><a href="/">Publishbot</a></li>
    <li><a href="/status">Current Status</a></li>
    <li>Preview + Publish</li>
{% endblock %}

{% block body %}

<style>
.heading-large { margin-top: 0; }
.heading-xlarge { margin-top: 0; }
</style>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      {{ adapter.Title }}
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        {{ adapter.Description }}
      </p>
    </div>
    <div class="column-one-third">
        <span class="bold-small">Preview required:</span> Yes<br/>
        <span class="bold-small">Last run:</span> Today<br/>
        <span class="bold-small">Next run:</span> Next month<br/>
    </div>
  </div>


<table>
  <thead>
    <tr>
      <th scope="col">Supplier</th>
      <th scope="col">Reference</th>
      <th scope="col">Date</th>
      <th class="numeric" scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ACME Inc</td>
      <td>A12345</td>
      <td>01/01/2017</td>
      <td class="numeric">31,792</td>
    </tr>
    <tr>
      <td>ACME Inc</td>
      <td>A12346</td>
      <td>08/01/2017</td>
      <td class="numeric">35,740</td>
    </tr>
    <tr>
      <td>ACME Inc</td>
      <td>A12347</td>
      <td>11/01/2017</td>
      <td class="numeric">26,683</td>
    </tr>
  </tbody>
</table>

  <br/>
  <div class="grid-row">
    <div class="column-two-thirds">
      <button class="button">Publish</button>
      &nbsp;
      <a style="font-size:smaller;" href="/status">Cancel</a>
    </div>
  </div>

{% endblock %}
