

{{define "title"}}Current Status{{end}}

{{define "breadcrumbs"}}
    <li><a href="/">Publishbot</a></li>
    <li>Current Status</li>
{{end}}

{{define "body"}}

<style>
.heading-large { margin-top: 0; }
.heading-xlarge { margin-top: 0; }
</style>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      Current status
      </h1>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Spend over £25,000
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        A monthly-updated list of all financial transactions spending over £25,000 made by department, as part of the Government's commitment to transparency in expenditure
      </p>

      <a href='/preview' class="button">Preview and publish</a>
      &nbsp;
      <a style="font-size:smaller;" href="">View on data.gov.uk</a>
    </div>

    <div class="column-one-third">
      <span class="bold-small">Preview required:</span> Yes<br/>
      <span class="bold-small">Owner notified:</span> Yes<br/>
      <span class="bold-small">Last run:</span> Today<br/>
      <span class="bold-small">Next run:</span> Next month<br/>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
      Organogram
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        Organogram (organisation chart) showing all staff roles. Names and salaries are also listed for the Senior Civil Servants.
      </p>

      <span class="bold-small">Auto-published today</span>
      &nbsp;
      <a style="font-size:smaller;" href="">View on data.gov.uk</a>


    </div>
    <div class="column-one-third">
      <span class="bold-small">Preview required:</span> No<br/>
      <span class="bold-small">Last run:</span> Yesterday<br/>
      <span class="bold-small">Next run:</span> Next month<br/>
    </div>

  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Planning applications
      </h1>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        List of planning applications data varying from advertisment control to full planning applications.
      </p>

      <span class="bold-small">Auto-published today</span>
      &nbsp;
      <a style="font-size:smaller;" href="">View on data.gov.uk</a>

    </div>
    <div class="column-one-third">
      <span class="bold-small">Preview required:</span> No<br/>
      <span class="bold-small">Last run:</span> Yesterday<br/>
      <span class="bold-small">Next run:</span> Next month<br/>
    </div>

  </div>


{{end}}
